#math-container, #colorcode-container{
	border: solid 2px black;
	border-radius: 5px;
	margin : 10px;
	padding : 10px;
	margin-left: auto;
	margin-right: auto;
}

#math-container {
	text-align: center;
	max-width: 800px;
}

#math-input {
	font-size: 24pt;
}

#math-input input {
	width: 50px;
}

#colorcode-container{
	
	display: none;
	width: 500px;
}


#colorList{
	border: solid 2px black;
	width: 300px;
}
#showColor, #hexnum{
	float:right;
	width: 80px;
	height: 265px;
	margin: 0px 5px 0px 5px;
}




#firstColumn, #secondColumn, #thirdColumn{
	margin: 10px;
	display: inline-block;



}
#r1c1, #r1c2, #r1c3,#r1c4, #r1c5, #r2c1, #r2c2, #r2c3,#r2c4, #r2c5,#r3c1, #r3c2, #r3c3,#r3c4, #r3c5 {
	border: solid 1px black;
	width: 25px;
	height: 25px;
}


#c1,#c2,#c3,#c4,#c5,#c6,#c7{
	border: solid 1px black;
	width: 78px;
	height: 36px;
}
#n1,#n2,#n3,#n4,#n5,#n6,#n7{
	width: 78px;
	height: 36px;
	text-align: center;

} 






